table{
    margin: 50px;
    font-weight: 500;
    border-collapse: collapse;
    
}
th,td{
    font-size: 20px;
    border: 1px solid black;
}
.add{
    background-color: black;
    font-size: 10px;
    color: white;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    border: 1px solid white;
}
.btn{
    text-align: center;
}
.edit{
background-color: black;
color: white;
border-radius: 5px;
}
.delete{
background-color: black;
color: white;
border-radius: 5px;
}
.save{
    background-color: black;
    color: white;
    border-radius: 5px;
}